<%= turbo_frame_tag "fake_set_type_#{form.index}" do %>
  <%= form.hidden_field :id %>
  <%= form.hidden_field :name %> 

  <div class="flex gap-2 mb-4 w-full">
    <%= form.label :name,
      class: "btn rounded flex justify-between items-center w-64 sm:w-96 overflow-x-auto",
      data: { action: "click->list#openList" }, onclick: "my_modal_types.showModal()" do %>
      <%= form.object.name || "Click to choose a type" %> 
    <% end %>
    <%= form.submit "X",
          formaction: fake_set_type_path(form.index, form.object.id),
          formmethod: :delete,
          formnovalidate: true,
          data: { turbo_frame: "fake_set_type_#{form.index}" },
          class: "btn btn-outline btn-error rounded" %>
  </div>
<% end %>
