<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-2xl font-bold md:text-3xl">
        Generate fake data with Fake It Up
      </h2>

      <p class="hidden text-gray-500 md:mt-4 md:block">
      Fake it up is an easy to use tool to generate fake data. There are many fake
      data types to choose from. To get started create a free account and enjoy.
      </p>

      <% if !Current.session %>
        <div class="mt-4 md:mt-8">
          <%= link_to "Get Started Today", sign_up_path,
            class: "btn btn-success btn-sm btn-wide rounded"
          %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="py-10">
    <div class="mx-auto w-1/2 card bg-base-100 shadow overflow-hidden">
      <figure><%= image_tag "fake-data-json-example.png", alt: "fake data json example" %></figure>
    </div>
  </div>  
</section>

<section class="bg-gray-900 text-white">
  <div class="container mx-auto sm:grid sm:grid-cols-2">
    <div class="px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="max-w-sm mx-auto text-center sm:text-left">
        <h2 class="text-3xl font-bold sm:text-4xl">Step 1:</h2>

        <p class="mt-4 text-gray-300 text-2xl">
          Sign up for free
        </p>
      </div>
    </div>
    <div class="py-10">
      <div class="mx-auto w-1/2 card bg-base-100 shadow overflow-hidden">
        <figure><%= image_tag "sign-up-page.png", alt: "sign up page" %></figure>
      </div>
    </div>  
  </div>
</section>

<section class="bg-gray-50">
  <div class="container mx-auto sm:grid sm:grid-cols-2">
    <div class="py-10">
      <div class="mx-auto w-1/2 card bg-base-100 shadow overflow-hidden">
        <figure><%= image_tag "fake-set-form.png", alt: "fake set form" %></figure>
      </div>
    </div>  
    <div class="max-w-sm mx-auto text-center sm:text-left px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <h2 class="text-3xl font-bold sm:text-4xl">Step 2:</h2>

      <p class="mt-4 text-2xl">
        Create Fake data set. The JSON and CSV will automatically be created
      </p>
    </div>
  </div>
</section>

<section class="bg-gray-900 text-white">
  <div class="container mx-auto sm:grid sm:grid-cols-2">
    <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="max-w-sm mx-auto text-center sm:text-left">
        <h2 class="text-3xl font-bold sm:text-4xl">Step 3:</h2>

        <p class="mt-4 text-gray-300 text-2xl">
          Copy the generated fake data.
        </p>
      </div>
    </div>
    <div class="py-10">
      <div class="mx-auto w-1/2 card bg-base-100 shadow overflow-hidden">
        <figure><%= image_tag "fake-set-copy.png", alt: "fake set copy" %></figure>
      </div>
    </div>  
  </div>
</section>
