<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg">

    <p class="text-center text-lg font-medium">Sign up</p>

    <%= form_with(url: sign_up_path, class: "mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8") do |form| %>
      <% if @user.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :email, class: "sr-only" %>
        <%= form.email_field :email,
          value: @user.email,
          required: true,
          autofocus: true,
          autocomplete: "email",
          class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm",
          placeholder: "Enter email"  %>
      </div>

      <div>
        <%= form.label :password, class: "sr-only" %>
        <%= form.password_field :password,
          required: true,
          autocomplete: "new-password",
          class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm",
          placeholder: "Enter password" %>
        <div class="pl-2 text-sm text-gray-500">
          8 characters minimum.
        </div>
      </div>

      <div>
        <%= form.label :password_confirmation, class: "sr-only" %>
        <%= form.password_field :password_confirmation,
          required: true, 
          autocomplete: "new-password",
          class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm",
          placeholder: "Enter password confirmation" %>
      </div>

      <div>
        <%= form.submit "Sign up",
          class: "block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"%>
      </div>
    <% end %>
  </div>
</div>
